#bottom-bars-container{
    height:10px;
    width:100%;
}
#left-bar{
    background-color:#831f82;
    width:54%;
}
#right-bar{
	width:46%;
    background-color:#b3e603;
}
#nav-container{
	background-color:#BBB;
	height:350px;
}
#left-link-container{
	height:370px;
	float:left;
	width:50%;
	background-image: url("/img/section-exap.jpg");
}
#right-link-container{
	height:370px;
	float:right;
	width:50%;
	background-image: url("/img/section-apply.jpg");
}
#exam-link{
	float:right;
	margin-right:50px;
	margin-top:150px;
  	background-color:#831f82;
  	color:#DDD;
  	border:0px !important;
  	width: 200px !important;
}
#apply-link{
	float:left;
	margin-left:50px;
	margin-top:150px;
	background-color:#99C500;
	color:#DDD;
	border:0px !important;
	width: 200px !important;
}
.viewport {
    overflow: hidden;
}

.viewport img {
	height:100%;
	width:100%;
    left: -20px;
    position: relative;
    top: -20px;
    width: 500px;
}