select::-moz-focus-inner {
  border: 0;
}

.form_container {
    margin:0 auto;
    width:1000px;
    padding-left:63px;
    padding-right:63px;
}

.form_container h1 {
    font-size:24px;
    font-weight:300 !important;
    text-align:left;
    color:#81a600;
    font-family:'SEGOEUIL' !important;
    margin-bottom:40px;
}

.sub_title {
    color:#81a600;
    font-weight:bold;
    text-align:left;
    position:relative;
    margin-top:-40px;
    margin-bottom:20px;
}

.form_select {
    border:none;
    border-bottom:1px solid #b3e603;
    width:66%;
    margin-bottom:20px;
}

.form_span_info {
    display:inline-block;
    width:34%;
    margin:0 !important;
    text-align:right;
    padding-right:30px;
}
.spec_num {
    font-weight:bold;
}

.info_span {
    width:54px;
    height:54px;
    display:inline-block;
    background-image:url('/img/icons-info.png');
    background-repeat: no-repeat;
    float:none !important;
    margin:0 auto !important;
}

#left_info_panel {
    width:20%;
    float:left;
}

#right_info_panel {
    width:80%;
    float:left;
    text-align:left;
}

.terms {
	font-weight: bold;
}

.info_wishlist {
    width:700px;
    height:290px;
    margin:0 auto;
    background-color: #f5f5f5;
    padding-top:20px;
    font-family:'SEGOE UI';
}


#profile_info_top {
	width: 900px;
	margin: 0 auto;
}

.button_aplpy {
    display: inline-block;
	width: 340px;
	padding: 20px 40px;
	background-color: #b3e603;
	font-size: 24px;
    font-family: 'SEGOEUIL' !important;
	text-transform: uppercase;
	color: white;
	border-radius: 5px;
	margin-top: 20px;
    margin-bottom:30px;
}

.button_aplpy:hover {
	cursor: pointer;
	background-color: #b3f603;
	text-decoration: none;
    color:white;
}

#profile_info_top div.one {
	position: absolute;
	width: 300px;
	margin-left: 600px;
	text-align: right;
}

