select::-moz-focus-inner {
  border: 0;
}

.form_container {
    margin:0 auto;
    width:1000px;
    padding-left:63px;
    padding-right:63px;
}

.form_container h1 {
    font-size:24px;
    font-weight:300 !important;
    text-align:left;
    color:#81a600;
    font-family:'SEGOEUIL' !important;
    margin-bottom:40px;
}

.form_select {
    border:none;
    border-bottom:1px solid #b3e603;
    width:66%;
    margin-bottom:20px;
}

.form_span_info {
    display:inline-block;
    width:34%;
    margin:0 !important;
}

.terms {
	font-weight: bold;
}
