select::-moz-focus-inner {
  border: 0;
}

.form_container {
    margin:0 auto;
    width:1000px;
    padding-left:63px;
    padding-right:63px;
}

.form_container h1 {
    font-size:24px;
    font-weight:300 !important;
    text-align:left;
    color:#81a600;
    font-family:'SEGOEUIL' !important;
    margin-bottom:40px;
}

.form_select {
    border:none;
    border-bottom:1px solid #b3e603;
    width:66%;
    margin-bottom:20px;
}

.form_span_info {
    display:inline-block;
    width:34%;
    margin:0 !important;
}

.status_2 {
	width: 43px;
	height: 43px;
	background: url('/img/icons-status.png');
}

.status_1 {
	width: 43px;
	height: 43px;
	background: url('/img/icons-status.png') 86px;
}

.status_0 {
	width: 43px;
	height: 43px;
	background: url('/img/icons-status.png') 43px;
}
